{
  "REKORDBOX_XML_FILE_LOCATION": "",
  "REKORDBOX_EXPORT_PLAYLIST_PREFIX": "[>]",
  "SPOTIFY_PLAYLIST_PREFIX": "[-]",
  "REKORDBOX_IMPORT_PLAYLIST_PREFIX": "[<]",
  "SPOTIFY_URI_MP3_TAG": "TMED",
  "REKORDBOX_LOCATION_PREFIX": "file://localhost/C:/",
  "NODE_LOCATION_PREFIX": "/mnt/c/",
  "SPOTIFY_XML_FILE_LOCATION": "./spotify.xml",
  "CLIENT_ID": "",
  "CLIENT_SECRET": "",
  "TOKEN_FILENAME": "./token.json",
  "URIS_FILENAME": "./uris.json"
}
